
/* blue :1566AE*/
/*green 559922*/

body {
	background-color: #dfdfdf;
	background: -moz-linear-gradient(top,
		#fff,
		#dfdfdf 50%,
		#cecece
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(#fff),
		color-stop(0.5, #dfdfdf),
		to(#cecece)
	);
	
	/* linear gradient for IE 5.5+ */
	filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#FFFFFF', EndColorStr='#CECECE');
}

.cp-logo-small {
	height:30px;
	width:30px;
}

.cp-viewer {
	min-height:200px;
	background-image: url('../images/background.png');
	background-size:100%;

}

.cp-image-container {
	overflow: auto;
}
.cp-image-container img {
	float:left;
	margin:20px;
}

.cp-page-title {
	padding:5px;
	background-color: #1566AE;
	margin: 20px 0px 20px 0px;
	width:300px;
	font-size: 16px;
	font-weight: 900;
	color: #ffffff;
	border-radius:5px;
	border-bottom-color:#559922;
	border-bottom-style:solid;
	border-bottom-width: 5px;
	text-align: center;

}

.cp-graph-title {
	text-align:center;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
	padding:5px;
	background-color: #ffffff;

}

.cp-caption  {
	padding:70px 0px;
	background: rgba(000,000,000,0.5);
	color:#ffffff;
	text-align: center;
	font-size: 38px;
}

/* body*/
.cp-content {
	max-width: 1024px;
	background:#ffffff;

}


.navbar {
	margin-bottom: 0px;
	border-radius:0px;
}

.navbar-brand {
	padding:0px;
}
.navbar-brand img {
    height:50px;
    width:178px;
}



@media (min-width:1024px) {
	.navbar {
		height:75px;
		border-bottom-color:#1566AE;
		border-bottom-style:solid;
		border-bottom-width: 5px;

		order-color: #fff;
	
	/* background color (for non css3 browsers) and gradient */
	background-color: rgba(255,255,255,0.5);
	background: -moz-linear-gradient(top,
		rgba(255,255,255,0.65),
		rgba(255,255,255,0.55) 49.9%,
		rgba(255,255,255,0.3) 50%,
		rgba(255,255,255,0.45)
	);
	background: -webkit-gradient(linear, left top, left bottom,
		from(rgba(255,255,255,0.65)),
		color-stop(0.49, rgba(255,255,255,0.5)),
		color-stop(0.5, rgba(255,255,255,0.3)),
		to(rgba(255,255,255,0.45))
	);
	background-color: #fff; /* FOR IE */

	}
	.navbar-brand img {
	    height:68px;
	    width:241px;
	}

	.navbar-collapse {
		max-width:1024px;
	}

	.navbar-nav {
		float:right;
	}

	.navbar-nav li a {
		height:68px;
		line-height: 50px;
		font-size: 16px;
	}
	.navbar-nav li:hover {
		background-color: rgba(000,000,000,0.2);
	}

	.navbar-nav > .active > a {
		background-color:#1566AE !important;
		color:#fff !important;
		height:75px;
		border-bottom-color:#559922;
		border-bottom-width:5px;
		border-bottom-style:solid;
	}
}

@media (max-width: 800px) {
	.cp-page-title {
		width:100%;
	}
}

.hide-desc {
	display:none;
	padding:10px;
}


canvas {
	width:1000;
	height:100%;
}

.cp-footer {
	background: url('../images/squairy_light.png'); 
	padding-top:10px;
	border-top-color:#559922;
	border-top-width:5px;
	border-top-style:solid;
	min-height: 80px;
	overflow: auto;
}

.cp-copyright {
	background: url('../images/dark_Tire.png'); 
	height:30px;
	line-height:30px;
	text-align: right;
	padding-right: 20px;
	color:#ffffff;
}

.cp-pub {
	background-color: #ffffff;
	color:#000000;
	padding:5px;
	border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.cp-icon {
	cursor:pointer;
	color:#1566AE;
	font-weight: bold;
}

.cp-home-text {

	background:rgba(255,255,255,0.6);
	color:#000000;
	padding:5px;
	border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
	font-size:14px;
	border-radius:10px;

}

/* RESET*/
a {
   outline: 0 !important;
   text-decoration: none;
   border:0px;
}


.lead {
	font-size:14px;
	font-weight:400;
}

.small-text {
	font-size: 13px;
}

.badge {
	padding:5px;
	font-size:16px;
	color:#ffffff;
	margin:10px;
	background-color: #ffffff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.cp-news {
	background: url('../images/linedpaper.png'); 
}

.badge .active {
	background-color: #000000;
	color:#ffffff;
}

.cp-calendar {
    height:100px;
    width:100px;
    border-style:solid;
    border-width:3px;
    border-color: #999999;

     box-shadow: 0 1px 1px rgba(0,0,0,0.3),
                0 6px 0 -3px #fff,
                0 7px 1px -3px rgba(0,0,0,0.3),
                0 12px 0 -6px #fff,
	            0 13px 1px -6px rgba(0,0,0,0.3),
                0 18px 0 -9px #fff,
				0 19px 1px -9px rgba(0,0,0,0.3),
                0 24px 0 -12px #fff,
				0 25px 20px -8px rgba(0, 0, 0, 0.2);
	
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3),
                0 6px 0 -3px #fff,
                0 7px 1px -3px rgba(0,0,0,0.3),
                0 12px 0 -6px #fff,
	            0 13px 1px -6px rgba(0,0,0,0.3),
                0 18px 0 -9px #fff,
				0 19px 1px -9px rgba(0,0,0,0.3),
                0 24px 0 -12px #fff,
				0 25px 20px -8px rgba(0, 0, 0, 0.2);    
    
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3),
                0 6px 0 -3px #fff,
                0 7px 1px -3px rgba(0,0,0,0.3),
                0 12px 0 -6px #fff,
	            0 13px 1px -6px rgba(0,0,0,0.3),
                0 18px 0 -9px #fff,
				0 19px 1px -9px rgba(0,0,0,0.3),
                0 24px 0 -12px #fff,
				0 25px 20px -8px rgba(0, 0, 0, 0.2);
	background: #fff;
} 
.cp-calendar-year {
    height:27px;
    line-height:27px;
    background-color: #1566AE; 	
    color: #ffffff;
    font-size: 16px;
    text-align: center;
 }
 .cp-calendar-month {
    height:67px;
    line-height:67px;
    font-size:28px;
    text-align: center;
    background-color: #ffffff; 	
 }

.cp-news-select {
    padding:10px 0px;
    background-color: rgba(000,000,000,0.8);
    margin:10px 0px;
    border-radius:5px;
    overflow: auto;
}


.cp-news-tab {
	width:100px;
	height:29px;
	line-height: 26px;
	text-align: center;
	background-color: #ffffff;
	float:left;
	border-style:solid;
	border-width:2px;
	border-color:#999999;
	cursor:pointer;s

}

.cp-news-tab.active {
	background-color: #559922;
	color: #ffffff;
}