<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="AbRegen Pty Ltd is a preclinical stage biotechnology company that specialises in the development of antibody-based therapeutics for tissue repair applications.">
  <meta name="robots" content="index, follow">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=9" />

  <title>
    {{ site.title }}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/global.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}public/images/favicon.ico">

  <!-- Javascript -->
  <script type="text/javascript" src="{{ site.baseurl }}public/js/jquery.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}public/js/bootstrap.min.js"></script>
  {% if page.group == 2 %}
  <script type="text/javascript" src="{{ site.baseurl }}public/js/board.js"></script>
  {% endif %}
  
  {% if page.group == 6 %}
  <script type="text/javascript" src="{{ site.baseurl }}public/js/news.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}public/js/moment-with-langs.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}public/js/moment-timezone-with-data.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}public/js/underscore.js"></script>
  {% endif %}

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}atom.xml">
</head>
