<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}public/images/logo.png" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% for item in site.menu %}
                {% if item.group == page.group %} 
                  {% assign active_class = 'active' %}
                {% else %}
                  {% assign active_class = '' %}
                {% endif %}
                {% if item.hassubmenu == true %}
                  <li class="dropdown {{ active_class }}">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      {% for subitem in item.submenu %}
                        <li><a href="{{ site.baseurl }}{{ subitem.url }}">{{ subitem.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                    <li class="{{ active_class }}"><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    
    {{ content }}
   

     <!-- <div class="navbar navbar-default" role="navigation" style="padding-top:10px; margin-bottom:0;">
      <div class="container">
        <address>
          <strong>Twitter, Inc.</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <address>
          <strong>Full Name</strong><br>
          <a href="mailto:#">first.last@example.com</a>
        </address>
      </div>
    </div>
 -->
  <div class="container-fluid cp-footer">    
    <div class="row">
      <div class="col-sm-12">
          {% for item in site.menu %}
            {% if item.group == page.group %} 
              {% assign active_class = 'active' %}
            {% else %}
              {% assign active_class = '' %}
            {% endif %}
            {% if item.hassubmenu == true %}
              {% for subitem in item.submenu %}
              <div class="badge {{ active_class }}">
                <a href="{{ site.baseurl }}{{ subitem.url }}">{{ subitem.title }}</a>
              </div>
              {% endfor %}
            {% else %}
               <div class="badge {{ active_class }}">
                <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
              </div>
              {% endif %}
            {% endfor %}
      </div>
    </div>
  </div>
  <div class="cp-copyright"> &copy; 2014 AbRegen Pty Ltd</div>

    


  </body>
</html>
